@font-face {
    font-family: "Lalezar";
    src: url("fonts/Lalezar/Lalezar-Regular.ttf");
}
@font-face {
    font-family: "Vazirmatn";
    src: url("fonts/Vazirmatn/Vazirmatn-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Handjet";
    src: url("fonts/Handjet/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf");
}
@font-face {
    font-family: "Estedad";
    src: url("fonts/Estedad/Estedad-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Marhey";
    src: url("fonts/Marhey/Marhey-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Chelsea";
    src: url("fonts/Chelsea_Market/ChelseaMarket-Regular.ttf");
}

:root {
  --bg: #ffffff88;
  --bg-panel: rgba(10, 15, 30, 0.88);
  --blue: #00e5ff;
  --pink: #ff5cc7;
  --green: #55f2c0;
  --text1: #e2ebf4;
  --text2: #93a4c0;
  --color: #7e573b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

#header-canvas { 
    width: 100%; 
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.overlay{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.overlay h1{
    color: var(--text1);
    font-family: "Lalezar";
    font-weight: 400;
    text-shadow: 0 0 20px var(--blue), 0 0 60px rgba(0, 229, 255, 0.4);
    font-size: 45px;
}

.overlay p{
    color: var(--text1);
    width: 70vw;
    text-align: center;
    font-family: "Handjet";
    font-size: 20px;
    margin-top: 15px;
}

.navbar{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color);
    margin: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: var(--text1);
}

.navbar.show1{
    opacity: 1;
    transform: translateY(0);
    position: sticky;
    top: 20px;
    z-index: 1;
}

.content{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    background-color: var(--bg);
    margin: 30px;
}

.content.show2{
    opacity: 1;
    transform: translateY(0);
}

